<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = {{ url_for('static', filename = 'css/style.css') }}>
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body> 
        {% block body %}{% endblock %}
    </body>
</html>