{% extends 'base.html' %}

{% block title %} FIZZ-BUZZ {% endblock %}

{% block body %}

    <h1 class='heading'> Lets FIZZ-BUZZ {{ number }} </h1>
    <div class= 'result'>
        {% if isFizzBuzz %}
            <div class='fizzbuzz'> <p> FIZZ-BUZZ </p> </div>
        {% elif isFizz %}
            <div class='fizz'> <p> FIZZ </p> </div>
        {% elif isBuzz %}
            <div class='buzz'> <p> BUZZ </p> </div>
        {% else %}
            <div class='number'> <p> {{ number }} </p> </div>
        {% endif %}
    </div>
     <div class='prev-button'>
        <form action = "{{ url_for('fizzbuzz', number=number-1)}}" method="get">
            <input type="submit" name="prev" value="PREVIOUS">
        </form>
    </div>
    <div class='next-button'>
        <form action = "{{ url_for('fizzbuzz', number=number+1)}}" method="get">
            <input type="submit" name="next" value="NEXT">
        </form>
    </div>

{% endblock %}