
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.centeredText {
  position: relative;
  left: 50%;
  top:-400px;

  border:1.0px solid red;
  color:lightblue;
  z-index:9;
  font-size:50px;
  float:left;
  opacity:2;
 border-radius: 25px;
}  
.mySlides {
	width:100%;
	height:400px;	
	display:none;
	opacity:1;
	z-index:1;
	top:10px;
	border-radius:30px 15px 30px 15x;
	
}
#show{
    margin-right:0px;
	border-right:1px solid lightblue;
	border-radius:30px 10px 30px 10x;
}
/* Global */
.container{
  width:80%;
  margin:auto;
  margin-top:5px;
  
  overflow:hidden;
  background-image:url("../images/showcase.jpg");
  background-repeat:no-repeat;
  /*background-color:#abced6;*/
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:blue 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:lightblue;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:200px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:50px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:30px;
  opacity:5;
  z-index:999;
  width:99%;  margin-left:10px;
  margin-right:10px;
  overflow:x-scroll;
  border-radius:30px 0px 30px 0px;
  /*background-image:url("../images/insurance.jpeg");*/
   background-image:url("../images/showcase.jpg");
  background-repeat:no-repeat;
  /*background-color:#abced6;*/
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

/*footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: left;
}*/

/*footer {
  text-align: left;
}*/

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

